.primary-footer {
    background-color: var(--color-primary);
}

.secondary-navigation {
    margin-block-end: var(--spacer-100);
}

.secondary-navigation-list {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin: 0;
    padding: 0;
}

.footer__text {
    display: flex;
    justify-content: center;
}


