:root {
	/* Colors */
	--color-primary: rgb(66, 132, 175);
	--color-primary-200: rgb(136, 190, 225);
	--color-primary-400: rgb(20, 70, 103);
	--color-primary-600: rgb(10, 41, 61);

	--color-secondary: rgb(237, 242, 255);
	--color-secondary-200: rgb(210, 221, 249);
	--color-secondary-400: rgb(192, 201, 239);

	/* Font sizes */
	--fs-100: 0.875rem;
	--fs-200: 1rem;
	--fs-300: 1.125rem;
	--fs-400: 1.3rem;
	--fs-500: 1.6rem;
	--fs-600: 1.85rem;
	--fs-700: 2.5rem;
	--fs-800: 3.5rem;

	--fs-nav: 1.675rem;

	/* Spacers */
	--spacer-50: 0.25rem;
	--spacer-100: 0.5rem;
	--spacer-150: 0.65rem;
	--spacer-200: 1rem;
	--spacer-300: 1.5rem;
	--spacer-400: 2rem;
	--spacer-500: 4rem;
	--spacer-600: 6rem;
	--spacer-700: 10rem;

	/* Fonts */
	--ff-primary: "Oswald", sans-serif;
	--ff-secondary: "Roboto Condensed", sans-serif;

	/* Gaps */
	--gap: 1rem;

	/* Border radius */
	--border-radius: 0.75em;
}

@media (min-width: 50em) {
	:root {
		/* Font sizes */
		--fs-nav: 1.4rem;

		/* Gaps */
		--gap: 1.5rem;
	}
}
