.section__contact p {
    max-width: 50ch;
    margin-block-end: var(--spacer-200);
    font-size: var(--fs-300);
    line-height: 1.2;
}

.section__contact form {
    padding-block-start: var(--spacer-200);
    padding-block-end: var(--spacer-100);
    padding-inline: var(--spacer-200);
    background-color: var(--color-secondary-200);
    color: var(--color-primary-400);
    border-radius: var(--border-radius);
}

.contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: var(--spacer-100);
}

.contact__container label {
    font-weight: 700;
}

.contact__container input,
.contact__container textarea {
    padding-block: var(--spacer-50);
    padding-inline: var(--spacer-200);
    width: 70%;
    border: 0;
    outline: 0;
    color: var(--color-primary-400);
    border-radius: var(--border-radius);
}