.btn,
.contact__container input[type="submit"] {
    display: inline-flex;
    cursor: pointer;
    margin-block: var(--spacer-200);
    padding-block: var(--spacer-50);
    padding-inline: var(--spacer-200);
    font-size: var(--fs-300);
    border-radius: var(--border-radius);
    border: 0;
}

.btn-cta,
.contact__container input[type="submit"] {
    background-color: var(--color-primary-400);
    color: var(--color-secondary);
    outline: 1px solid var(--color-secondary);
    transition: all ease-in-out 350ms;
}

.btn-cta:focus,
.btn-cta:hover,
.contact__container input[type="submit"]:focus,
.contact__container input[type="submit"]:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary-400);
    outline: 1px solid var(--color-primary-400);
}

/* Diagonal section */
.diagonal {
    --skew-angle: -4deg;
    --background: linear-gradient(
                    45deg, 
                    #144667, 
                    #144667, 
                    #4284af
                  );
  
    position: relative;
    isolation: isolate;
  }
  
  .diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
  }

@media (min-width: 40em) {
    .flex {
        display: flex;
    }
    
    .ai-center {
        align-items: center;
    }
    
    .jc-sb {
        justify-content: space-between;
    }
}