.primary-footer {
	position: relative;
	background-color: var(--color-primary-400);
}

.secondary-navigation {
	margin-block-end: var(--spacer-100);
}

.secondary-navigation-list {
	display: flex;
	justify-content: center;
	gap: var(--gap);
}

.secondary-nav__link {
	position: relative;
	font-size: var(--fs-400);
	padding-block: var(--spacer-200);
	color: var(--color-secondary);
	transition: all ease 250ms;
}

.secondary-nav__link:hover {
	color: var(--color-primary-200);
}

.secondary-nav__link::after {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 50%;
	height: 2px;
	width: 0;
	background: transparent;
	transition: all ease 250ms;
}

.secondary-nav__link:hover::after {
	width: 100%;
	left: 0;
	background: var(--color-secondary);
	border-radius: var(--border-radius);
	opacity: 0.7;
}

.footer__text {
	display: flex;
	justify-content: center;
	color: var(--color-secondary-400);
	font-size: var(--fs-200);
}

@media (min-width: 45em) {
	.footer__text {
		font-size: var(--fs-300);
	}
}
