.primary-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-primary-400);
	box-shadow: 0 2px 8px 0 var(--color-primary-400);
	z-index: 999;
}

.logo {
	margin: 0;
	padding: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-600);
	color: var(--color-secondary);
	line-height: 1;
	text-transform: uppercase;
}

.logo__bottom span {
	position: relative;
	width: max-content;
	color: var(--color-primary);
	text-shadow: -0.01em -0.01em 0.01em var(--color-primary-600);
}

.logo__bottom span:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 13px;
	width: 100%;
	border-top: solid 3px var(--color-primary-200);
	border-radius: 50%;
}

.logo__bottom {
	color: var(--color-secondary);
}

.menu-toggle {
	display: block;
	width: 2.2rem;
	aspect-ratio: 1;
	cursor: pointer;
	border: 0;
	outline: 0;
	background-color: transparent;
	z-index: 999;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: "";
	display: block;
	background-color: var(--color-secondary);
	height: 3px;
	width: var(--spacer-400);
	border-radius: 10px;
	transition: all 400ms ease-in-out;
}

.hamburger::before {
	transform: translateY(-7px);
}

.hamburger::after {
	transform: translateY(4px);
}

[aria-expanded="true"] .hamburger {
	transform: rotate(45deg);
	background-color: var(--color-primary-200);
}

[aria-expanded="true"] .hamburger::before {
	opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
	background-color: var(--color-primary-200);
}

.primary-navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--ff-primary);
}

.primary-navigation-list {
	position: absolute;
	top: calc((var(--header-height) - var(--spacer-300)) - 0.1rem);
	right: -2rem;
	left: -2rem;
	display: flex;
	flex-direction: column;
	gap: var(--spacer-300);
	padding-block-start: var(--spacer-500);
	height: calc(100vh - var(--header-height));
	background-color: var(--color-primary-400);
	box-shadow: 0 2px 8px 0 var(--color-primary-400);
	text-transform: uppercase;
}

.primary-navigation-list li {
	width: max-content;
	margin-inline: auto;
	text-align: center;
	border-bottom: 1px solid var(--color-primary-200);
}

.nav__link {
	position: relative;
	font-size: var(--fs-nav);
	padding-block: var(--spacer-200);
	color: var(--color-secondary);
	transition: all ease 250ms;
}

.nav__link:hover {
	color: var(--color-secondary-400);
}

.nav__link::after {
	content: "";
	position: absolute;
	bottom: 12px;
	left: 50%;
	height: 2px;
	width: 0;
	background: transparent;
	transition: all ease 250ms;
}

.nav__link:hover::after {
	width: 100%;
	left: 0;
	background: var(--color-primary-200);
}

.primary-navigation-list[data-state="opened"] {
	animation: menuOpen 550ms ease-in-out forwards;
}

.primary-navigation-list[data-state="closing"] {
	animation: menuClose 550ms ease-in-out forwards;
}

.primary-navigation-list[data-state="closed"] {
	display: none;
}

@keyframes menuOpen {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes menuClose {
	100% {
		transform: translateX(100%);
	}
	0% {
		transform: translateX(0);
	}
}
