.section__portfolio {
	color: var(--color-secondary-400);
}

.portfolio__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--container-width);
	margin-block-end: var(--spacer-400);
	padding: var(--spacer-300);
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.section__portfolio h2 {
	color: var(--color-secondary);
}

.portfolio__name {
	margin-block-end: var(--spacer-100);
	color: var(--color-primary-400);
}

.portfolio__image {
	width: var(--container-width);
	aspect-ratio: 1.5;
	margin-block-end: var(--spacer-100);
	border-radius: var(--border-radius);
}

.portfolio__skillset {
	display: flex;
	justify-content: center;
	gap: var(--gap);
	align-items: center;
	margin: 0;
	padding: 0;
}

.portfolio__skill {
	font-size: var(--fs-500);
	color: var(--color-primary-400);
}

.portfolio__description {
	max-width: 60ch;
	color: var(--color-primary-400);
	font-size: var(--fs-300);
	line-height: 1.2;
}

@media (min-width: 45em) {
	.portfolio {
		display: flex;
		justify-content: space-between;
		gap: var(--spacer-300);
	}

	.portfolio__container {
		margin-block-start: var(--spacer-300);
		max-width: var(--container-width);
	}

	.portfolio__name {
		font-size: var(--fs-400);
		line-height: 1;
	}

	.portfolio__skillset {
		margin-block-end: var(--spacer-100);
	}

	.portfolio__description {
		line-height: 1.1;
	}
}
