.section__portfolio {
    color: var(--color-secondary-400);
}

.portfolio__container {
    padding-block-start: var(--spacer-200);
    padding-block-end: var(--spacer-100);
    padding-inline: var(--spacer-200);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.section__portfolio h2 {
    color: var(--color-secondary);
}

.portfolio__name {
    margin-block-end: var(--spacer-100);
    color: var(--color-primary-400);
}

.portfolio__image {
    margin-block-end: var(--spacer-100);
}

.portfolio__skillset {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    align-items: center;
    margin: 0;
    padding: 0;
}

.portfolio__skill {
    font-size: var(--fs-500);
    color: var(--color-primary-400);
}

.portfolio__description {
    max-width: 60ch;
    margin-block-end: var(--spacer-200);
    color: var(--color-primary-400);
    line-height: 1.2;
}
